# @file    .gitignore
# @brief   Rules for files and subdirectories to be ignored by git
# @license Please see the file named LICENSE in the project directory
# @repo    https://github.com/caltechlibrary/template
#
# ╭─────────────────────── Notice ── Notice ── Notice ────────────────────────╮
# │ The recommended approach is to add ONLY project-specific rules to the     │
# │ .gitignore of a repo. Users can put rules that apply to their individual  │
# │ ways of doing things into global git ignore files that they set up using  │
# │ (e.g.) "git config --global core.excludesfile ~/.gitignore_global".       │
# │ A number of files such as Emacs checkpoint and backup files are things    │
# │ that are not specific to a given project; rather, Emacs creates them      │
# │ everywhere, in all projects, because they're a byproduct of how Emacs     │
# │ works. Thus, rules to ignore them belong in users' own global .gitignore  │
# │ files, not in a project's .gitignore.                                     │
# │                                                                           │
# │ A useful starting point for global .gitignore file contents can be found  │
# │ at https://github.com/github/gitignore/tree/main/Global (as of 2022-07-14)│
# ╰───────────────────────────────────────────────────────────────────────────╯

# AppleScript-specific things to ignore
# .............................................................................

*.scpt

# Python-specific things to ignore
# .............................................................................

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.pytest_cache
.coverage


# Project-specific things to ignore:
# .............................................................................

build
dist
write-uri-into-comments/*.scpt
zowie-scripts/*.scpt
set-icon-to-parent-icon/*.scpt
unset-url/*.scpt
unset-finder-comment/*.scpt
zoinks-scripts/*.scpt
create-document-from-template/*.scpt
switch-workspace/*.scpt
create-markdown-note-for-quote/*.scpt
