# Repository-specific file attribute associations for git.
#
# Copyright 2024 Michael Hucka.
# License: MIT License – see file "LICENSE" in the project website.
# Website: https://github.com/mhucka/devonthink-hacks

# Default interpretation of files, in case people don't have core.autocrlf set.
# .............................................................................

* text=auto

# Common text files that should be normalized.
# .............................................................................

*.py text
*.in text
*.rst text
*.cfg text
*.ini text
*.yml text
*.json text
*.bat text
*.sh text
LICENSE text

# Common files that are truly binary and should not be modified.
# .............................................................................

*.png binary
*.jpg binary
*.xls binary
*.doc binary

# Special case for CSV. We've had problems with git getting confused about
# CSV line endings when both Windows & Mac users edited the same files.
# .............................................................................

*.csv binary diff=csv

# AppleScript.
# .............................................................................

*.scpt diff=scpt
*.scpt filter=ascr
