# Summary: repository-specific file attributes assignments for git.
#
# Copyright 2024 Michael Hucka.
# License: MIT License – see file "LICENSE" in the project website.
# Website: https://github.com/mhucka/template

# Set default interpretation of line endings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

* text=auto

# Interpretation of common text files ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*.bat	text eol=crlf
*.cff	text
*.cfg	text
*.css	text diff=css
*.env	text
*.html	text diff=html
*.ini	text
*.ipynb	text eol=lf
*.js	text
*.json	text
*.md	text diff=markdown
*.py	text diff=python
*.rst	text
*.sh	text
*.sql	text
*.svg	text
*.toml	text
*.tex	text diff=tex
*.txt	text
*.yaml	text merge=yaml
*.yml	text merge=yaml

# RC files like .babelrc, .eslintrc, etc.
*.*rc	text

# This avoids compatibility issues between Windows and Mac.
*.csv	text eol=crlf

LICENSE		text
Makefile	text

*.*ignore	text
*.gitattributes	text
.gitconfig	text

# Interpretation of common binary files ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*.bz	binary
*.DOC	binary
*.doc	binary
*.DOCX	binary
*.docx	binary
*.DOT	binary
*.dot	binary
*.gz	binary
*.jpeg	binary
*.jpg	binary
*.PDF	binary
*.pdf	binary
*.RTF	binary
*.rtf	binary
*.tar	binary
*.tgz	binary
*.tif	binary
*.tiff	binary
*.xls	binary
*.zip	binary
