# Rules for files and subdirectories to be ignored by git.
#
# Copyright 2024 Michael Hucka.
# License: MIT License – see file "LICENSE" in the project website.
# Website: https://github.com/mhucka/devonthink-hacks
#
# Note: the recommended approach for using this file is to add only project-
# specific rules to the .gitignore of a repository. Each user should put rules
# that apply to their tools and ways of working into a global git ignore file
# using (e.g.) "git config --global core.excludesfile ~/.gitignore_global".
# The rationale for this is that a number of file types, such as Emacs
# checkpoint and backup files, are things that are not specific to a given
# project; rather, Emacs creates them everywhere, in all projects, because
# they're a byproduct of how Emacs works. Thus, rules to ignore them belong
# in a user's own global .gitignore file, not in a project's .gitignore.
# A useful starting point for global .gitignore file contents can be found
# at https://github.com/github/gitignore/tree/main/Global (as of 2022-07-14)

# AppleScript-specific things to ignore
# .............................................................................

*.scpt

# Python-specific things to ignore
# .............................................................................

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.pytest_cache
.coverage


# Project-specific things to ignore:
# .............................................................................

build
dist
write-uri-into-comments/*.scpt
zowie-scripts/*.scpt
set-icon-to-parent-icon/*.scpt
unset-url/*.scpt
unset-finder-comment/*.scpt
zoinks-scripts/*.scpt
create-document-from-template/*.scpt
switch-workspace/*.scpt
create-markdown-note-for-quote/*.scpt
